<div class="row">
    <div *ngFor="let post of posts" class="col-lg-4 col-md-4 col-sm-6">
        <div class="post-item">
            <a class="post-link">
                <img class="img-fluid" src="http://localhost:1337{{post.contents[0].coverImage.url}}" alt="" /></a>
            <div class="post-caption">
                <div class="post-caption-heading">{{post.contents[0].title}}</div>
                <div class="post-caption-subheading text-muted">{{post.contents[0].value}}</div>
            </div>
        </div>
    </div>
</div>